@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex {
  display: flex;
}

@mixin font-family-700 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}

@mixin font-family-400 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
