@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  max-width: 1600px;
  height: 100%;
  line-height: 1;
  font-size: $font-size;
  color: #000;
  // min-width: 320px;
  // position: relative;
}

.wrapper {
  width: 98vw;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.burger {
  display: none;
  border: 1px solid black;
  padding: 13px;
  cursor: pointer;
  color: #ffffff;
  background-color: #000;
  position: absolute;
  right: 5px;
  top: 23px;
}

.menu__list {
  @include flex-center;
  padding: 45px 0;
  :hover {
    color: #57a4a4;
  }
}

@media (max-width: 768px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 13px;
    background-color: #f5f5f5;
    opacity: 0;
    position: absolute;
    right: 5px;
    top: 70px;
  }
  .menu__list--item {
    margin: 6px 0;
    &:hover {
      background: #e5e5e5;
    }
  }
  .burger {
    display: block;
  }
}

.active {
  opacity: 1;
}

.menu__list--item:not(:last-child) {
  padding: 0 68px 0 0;
}
.menu__list--link {
  @include font-family-400;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-main;
}

.header__fon img {
  display: block;
  margin: 0 auto;
}

.ibg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 5px;
}

@media (max-width: 768px) {
  .header__fon {
    margin-top: 83px;
    padding-right: 10px;
  }
}

.section__posts {
  max-width: 1170px;
  margin: 66px auto 0 auto;
  padding: 0 5px;
  h2 {
    @include font-family-700;
    font-size: $font-size;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-main;
  }
}

.posts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  margin-top: 24px;
}

@media (max-width: 1200px) {
  .posts__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    margin-top: 24px;
  }
}

.post-flex {
  @include flex;
}

.post__text {
  margin-left: 21px;
  a {
    h3 {
      @include font-family-700;
      font-size: $font-size;
      line-height: 30px;
      color: $color-main;
    }
  }
  &--comm {
    @include font-family-400;
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
  }
  &--full {
    @include font-family-400;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
  }
}

.section__insta {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  .wrapper__insta {
    max-width: 1170px;
    margin: 66px auto 0 auto;
    padding: 0 5px;
    .title__insta {
      display: flex;
      justify-content: space-between;
      margin: 47px 0 24px 0;
      h2 {
        @include font-family-700;
        font-size: $font-size;
        line-height: 22px;
        text-transform: uppercase;
        color: $color-main;
      }
      a h3 {
        @include font-family-700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;

        color: $color-main;
      }
    }
    .insta__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: 10px;
    }
    @media (max-width: 1200px) {
      .insta__list {
        grid-template-columns: repeat(3, 1fr);
      }
      .insta__list li:last-child {
        display: none;
        position: absolute;
      }
    }

    @media (max-width: 768px) {
      .insta__list {
        grid-template-columns: 1fr;
      }
      .insta__list li:not(:first-child) {
        display: none;
        position: absolute;
      }
    }
  }
}

.footer {
  background-color: $background-footer;
  &__container {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 5px 40px;
    h2 {
      @include font-family-700;
      font-size: $font-size;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      color: $color-footer-h2;
      margin-bottom: 18px;
    }
    .footer__text {
      @include font-family-400;
      font-size: $font-size;
      line-height: 28px;
      text-align: center;
      color: $color-footer-text;
    }
    .icons {
      margin: 30px 0 30px;
      text-align: center;
    }
    .footer__contacts {
      @include font-family-400;
      font-size: $font-size;
      line-height: 26px;
      text-align: center;
      color: $color-footer-text;
      a {
        color: #b9b9b9;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
