.main {
  .section__revolution {
    .section__revolution--h2 {
      @include font-Montserrat-700;
      font-size: 54px;
      line-height: 54px;
      text-transform: uppercase;
      color: $color-h2;
      padding: 129px 0 30px;
    }
    p {
      @include font-Lato-400;
      font-size: 21px;
      line-height: 32px;
      text-align: center;
      margin: 0 165px;
      color: $color-section;
    }
    div {
      margin: 13px 0 70px;
      text-align: center;
    }
    .github_buttons {
      display: none;
    }
  }

  .section__what-you-get {
    background-color: $background;
    .wrapper__what-you-get {
      position: relative;
      padding: 90px 0 20px 30px;
      display: flex;
      .common {
        flex: 0 1 calc(100% / 2);
      }
      .content__what-you-get {
        margin-right: 10px;
        .content__list {
          .content__list--item {
            display: flex;

            .img {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 auto;
              text-align: center;
              width: 30%;
              a {
                display: block;
                margin: 0 auto;
                img {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
            .content__list--link {
              padding-right: 15px;
            }
            .content__text {
              display: block;
              width: 70%;
              .content__title {
                h3 {
                  @include font-Montserrat-400;
                  font-size: 16px;
                  line-height: 21px;
                  text-align: start;
                  color: $color-section;
                  margin-bottom: 16px;
                }
                p {
                  @include font-Montserrat-400;
                  font-size: 14px;
                  line-height: 21px;
                  text-align: start;
                  color: $color-vers;
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
      }
      .title__what-you-get {
        h2 {
          @include font-Montserrat-700;
          font-size: 42px;
          line-height: 50px;
          color: $color-menu;
          text-align: left;
          padding-left: 10px;
        }
        h2::before {
          content: '<';
        }
        h2::after {
          content: '>';
        }
        .ibg {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .section__people-talking {
    background-image: url('../images/people/testmonials-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .wrapper__people-talking {
      h2 {
        @include font-Montserrat-700;
        font-size: 48px;
        line-height: 50px;
        color: $color-header;
        padding: 100px 0 60px 0;
      }
      .people-talking__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        .people-talking__list--item {
          width: 30%;
          padding: 0 3px 56px;
          .people-talking__img {
            text-align: center;
            margin-bottom: 33px;
          }
          .people-talking__text {
            padding: 0 20px;
            p {
              @include font-Lato-ital-700;
              color: $color-header;
            }
          }
        }
      }
      .people-talking__text--footer {
        margin: 0 195px;
        padding-bottom: 15px;
        p {
          @include font-Lato-400;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          color: $color-text;
        }
      }
      .img__sep-copy {
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: -6px;
        img {
          width: 100%;
        }
      }
    }
  }
}
